<div class="card">
  <h5>Enter Issue Information</h5>
  <div class="field grid">
    <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Issue Title</label
    >
    <div class="col-12 md:col-10">
      <input id="firstname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">AIMS</label>
    <div class="col-12 md:col-10">
      <input id="lastname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">Source</label>
    <div class="col-12 md:col-10">
      <input id="lastname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">Champion</label>
    <div class="col-12 md:col-10">
      <input id="lastname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>

  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Issue Description</label
    >
    <textarea
      id="address"
      type="text"
      rows="4"
      class="col-12 md:col-10"
      pInputTextarea
    ></textarea>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2">Team Leader</label>
    <div class="col-12 md:col-10">
      <input id="lastname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Containment</label
    >
    <textarea
      id="address"
      type="text"
      rows="4"
      class="col-12 md:col-10"
      pInputTextarea
    ></textarea>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Root Cause</label
    >
    <textarea
      id="address"
      type="text"
      rows="4"
      class="col-12 md:col-10"
      pInputTextarea
    ></textarea>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Corrective Action</label
    >
    <textarea
      id="address"
      type="text"
      rows="4"
      class="col-12 md:col-10"
      pInputTextarea
    ></textarea>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Work Plan
    </label>
    <button
      pButton
      type="button"
      class="col-12 mb-2 md:col-3 md:mb-0"
      label="View / Edit Work Plan"
    ></button>
    <label for="lastname4" class="col-12 mb-2 md:col-4 md:mb-0"> </label>
    <button
      pButton
      type="button"
      class="col-12 mb-2 md:col-3 md:mb-0"
      label="ICM Information"
    ></button>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Preventative Action</label
    >
    <textarea
      id="address"
      type="text"
      rows="4"
      class="col-12 md:col-8"
      pInputTextarea
    ></textarea>
    <p-checkbox
      name="groupname"
      class="col-12 md:col-2 align-center"
      value="val1"
      checked
    ></p-checkbox>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"> </label>
    <div class="col-12 md:col-10">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Previous Milestone</th>
            <th>TT 21-04-2022</th>
            <th>Next Milestone</th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Risk Projections</label
    >
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <div
      class="
        col-12
        md:col-12
        flex
        align-items-center
        justify-content-center
        mt-5
      "
    >
      <p-button pRipple label="Cancel" class="mr-3"></p-button>
      <p-button pRipple label="Save"></p-button>
    </div>
  </div>
</div>
<div class="card">
  <div class="field grid">
    <div class="col-12 md:col-8">
      <input id="firstname4" pInputText type="text" class="inputfield w-full" />
    </div>
    <div class="col-12 md:col-4">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <div class="col-12 md:col-2">
      <p-dropdown
        [editable]="false"
        [options]="conditions"
        optionLabel="name"
        placeholder="condition"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <input id="firstname4" pInputText type="text" class="inputfield w-full" />
    </div>
    <div class="col-12 md:col-4">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <div class="col-12 md:col-2">
      <p-dropdown
        [editable]="false"
        [options]="conditions"
        optionLabel="name"
        placeholder="condition"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <input id="firstname4" pInputText type="text" class="inputfield w-full" />
    </div>
    <div class="col-12 md:col-4">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <div class="col-12 md:col-2">Date Range</div>
    <div class="col-12 md:col-6">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <div class="col-12 md:col-2 left" style="text-align:right">
      <p-radioButton name="city"></p-radioButton>
    </div>
    <div class="col-12 md:col-2">After this date</div>
    <div class="col-12 md:col-4">
      <p-calendar [showIcon]="true" inputId="icon" placeholder="Select a Date"></p-calendar>
    </div>
  </div>
  <div class="field grid">
    <div class="col-12 md:col-2 left" style="text-align:right">
      <p-radioButton name="city"></p-radioButton>
    </div>
    <div class="col-12 md:col-2">Before this date</div>
    <div class="col-12 md:col-4">
      <p-calendar [showIcon]="true" inputId="icon" placeholder="Select a Date"></p-calendar>
    </div>
  </div>
  <div class="field grid">
    <div class="col-12 md:col-2 left" style="text-align:right">
      <p-radioButton name="city"></p-radioButton>
    </div>
    <div class="col-12 md:col-2">From this date</div>
    <div class="col-12 md:col-4">
      <p-calendar [showIcon]="true" inputId="icon" placeholder="Select a Date"></p-calendar> 
    </div>
    <div class="col-12 md:col-4">
      <p-calendar [showIcon]="true" inputId="icon" placeholder="Select a Date"></p-calendar>
    </div>
  </div>
</div>
